body {
  background-color: #000;
  color: #fff;
  font-family: "Century Gothic", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#themeToggle{
  margin: 3rem;
  font-size: 2rem;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;  
}

.header{
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 5.2rem;
  margin-bottom: 3rem;
  color: #fff;
  font-weight: bolder;
  font-style: italic;
  background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

input[type=checkbox] {
  transform: scale(2.6);
  margin-top: 2%;
}

.input-field input {
  flex: 1;
  padding: 0.7rem;
  margin-right: 0.7rem;
  border: 1px solid #3a3a3a;
  border-radius: 10px;  background-color: #1c1c1c;
  color: #fff;
  font-size: 2rem;
}

.input-field button,#clear-btn {
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

#nominated {
  border: 1px solid #3a3a3a;
  border-radius: 10px;  padding: 0.7rem;
  margin-bottom: 4rem;
  background-color: #1c1c1c;
  min-height: 10rem;
  font-size: 2.5rem;
}
#nominated hr{
  width: 50%;
  margin-left: 0%;
}
#nominated div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

#nominated label {
  margin-left: 0.7rem;
  color: #fff;
  margin-top: auto;
}

#result {
  margin-bottom: 1.4rem;
}

#result p.final {
  font-size: 8rem;
}


.light-theme {
  background-color: #fafafa;
  color: #000;
}

.light-theme input {
  background-color: #fff;
  color: #000;
  border-color: #dbdbdb;
}

.light-theme #nominated {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #000;  /* Set the text color to black */
}

.light-theme #nominated label {
  color: #000;  /* Set the label text color to black */
}

.light-theme #clear-btn {
  background-color: #dbdbdb;
}

.light-theme h1 {
  color: #000;
}